<button mat-mini-fab color="primary" [routerLink]="'../create-update'">
    <mat-icon>add_circle</mat-icon>
</button>
<mat-form-field appearance="standard">
    <mat-label>Filtrar por nombre</mat-label>
    <input matInput [formControl]="filter" placeholder="Filtrar por nombre">
</mat-form-field>
<table mat-table [dataSource]="(heroes | async)?.elements" class="mat-elevation-z8">

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let hero">{{hero.name}}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let hero">
            <button mat-icon-button color="primary" [routerLink]="'../create-update/' + hero.id">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="accent" (click)="showConfirmDelte(hero.id)">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [length]="(heroes | async)?.length" [pageSize]="(heroes | async)?.pageSize" [pageSizeOptions]="[5, 10, 25, 100]"
    (page)="onPage($event)">
</mat-paginator>