:host {
    width: 100%;
    position: relative;
}

mat-form-field {
    width: 100%;
    input.mat-input-element {
        width: 92%;
    }
}

table {
    width: 100%;
    .mat-column-name {
        width: 90%;
    }
    .mat-column-actions {
        width: 10%;
        min-width: 90px;
        text-align: center;
    }
}

button[mat-mini-fab] {
    position: absolute;
    right: 0;
    z-index: 1;
}