:host {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

mat-card {
    width: 50%;
    min-width: 300px;
}