<mat-card>
    <mat-card-header>
        <mat-card-title>
            <ng-container *ngIf="editMode; else notEditModeTitle">
                Editando Heroe
            </ng-container>
            <ng-template #notEditModeTitle>
                Creando Heroe
            </ng-template>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content [formGroup]="form">
        <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
            <input upperCase formControlName="name" type="text" matInput placeholder="Nombre">
            <mat-icon matSuffix>edit</mat-icon>
            <mat-error *ngIf="form.controls.name.hasError('minLength') && !form.controls.name.hasError('maxLength') && !form.controls.name.hasError('required')">
                El nombre es muy corto
            </mat-error>
            <mat-error *ngIf="form.controls.name.hasError('maxLength') && !form.controls.name.hasError('minLength') && !form.controls.name.hasError('required')">
                El nombre es muy largo
            </mat-error>
            <mat-error *ngIf="form.controls.name.hasError('required')">
                El nombre es <strong>requerido</strong>
            </mat-error>
        </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button color="primary" [disabled]="!form.valid || error" (click)="confirm()"
            *ngIf="editMode">Editar</button>
        <button mat-button color="primary" [disabled]="!form.valid" (click)="confirm()"
            *ngIf="!editMode">Crear</button>
        <button mat-button color="accent" (click)="goBack()">Cancelar</button>
    </mat-card-actions>
</mat-card>