div[wrapper] {
    display: flex;
    align-content: space-between;
    justify-content: flex-start;
    align-items: stretch;
    height: calc(100vh - 4%);
    padding: 2% 4%;
    flex-direction: column;
}

div[loading-wrapper] {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: 2;
    &:before {
        width: 100vw;
        height: 100vh;
        content: "";
        position: absolute;
        background-color: rgba(0, 0, 0, 0.2);
    }
}
