<h1 mat-dialog-title>¿Esta seguro que desea eliminar el heroe {{hero.name}}?</h1>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="{confirm: false}">Cancelar</button>
  <button mat-button [mat-dialog-close]="{confirm: true, hero}" cdkFocusInitial>Confirmar</button>
</div>